CREATE USER 'pizzeria'@'localhost' IDENTIFIED BY 'Pizza123#';
CREATE DATABASE pizzeria;
GRANT ALL PRIVILEGES ON pizzeria.* TO 'pizzeria'@'localhost' WITH GRANT OPTION;
CREATE TABLE zamowienia{
    id int(11) AUTO_INCREMENT,
    imie_klienta varchar(255),
    nazwisko_klienta varchar(255),
    adres varchar(255),
    lista varchar(6500),
    kwota int(11),
    PRIMARY KEY id
};